<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Persona</th>
    <th>Usertype</th>
    <th>Photo</th>
    <th>Partner</th>
    <th>Partner Name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.persona_id %></td>
    <td><%= user.usertype_id %></td>
    <td><%= user.photo %></td>
    <td><%= user.partner_id %></td>
    <td><%= user.partner.name%></td>
  </tr>
<% end %>
</table>

<br />

