<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Persona:</b>
  <%= @user.persona_id %>
</p>

<p>
  <b>Usertype:</b>
  <%= @user.usertype_id %>
</p>

<p>
  <b>Photo:</b>
  <%= @user.photo %>
</p>

<p>
  <b>Partner:</b>
  <%= @user.partner_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
